.main {
	width:100%;
	height:100%;
	flow-children:right;
	transition-property: opacity;
	transition-duration: 1s;
	opacity:1;
}

.Icon{
	padding:5px;
	width:40%;
	height:100%;
}

Image{
	img-shadow: 0px 0px 0px 5 black;
}

.HealthPanel{
	width:50%;
	height:100%;
}



Label{
	padding-left:10%;
	font-size:100px;
	width:75%;
	height:100%;
	font-family: raju;
	text-shadow:0px 0px 5 black;
	color:#3dfdfcff;
	margin-top: -10px;
}

.DeathIcon {
	visibility: collapse;
}

.Countdown Label {
	color:lightcoral;
}

.Countdown .DeathIcon {
	visibility: visible;
}

.Hide 
{
	opacity: 0;
}



