.StartDesc{
	width:100%;
	height:100%;
	text-overflow:clip;
	flow-children:down;
	font-family: raju;
	transition-property: opacity;
	transition-duration: 1s;

}

.header{
	color:#3dfdfcff;
	text-align: center;
	width:100%;
	font-size:200px;
	font-weight: bold;
	text-shadow:0px 0px 5 black;
}

.desc {
	color:white;
	text-align: center;
	width:100%;
	font-size:150px;
	text-shadow:0px 0px 5 black;
}

.Hide {
	opacity:0;
}

.CreditsPanel {
	flow-children:right;
}
.StatsPanel {
	flow-children:down;
	width:100%;
	height:100%;
}
.StatsPanel Label {
	width:100%;
	height:50%;
	font-size:150px;
}
.credits{
	height:100%;
	font-family: raju;
	font-size:200px;
	text-shadow:0px 0px 5 black;
	color:white;

}

.bluetext
{
	color:#3dfdfcff;
}

Image{
	margin-left:80%;
	margin-top:2%;
	img-shadow: 0px 0px 0px 5 black;

}
